<div class="d-flex col p-4 rounded mt-5 " style="background-color: #2d2d2d">
  <form [formGroup]="form" class="col-7 pe-3 position-relative">
    <input type="date" formControlName="postingAt" />

  <!-- يظهر بس لو Video -->
<div class="upload-Cover" *ngIf="isVideo" (click)="triggerCoverInput()">
  <i class="fa-solid fa-image" *ngIf="!coverPreviewUrl"></i>

  <!-- preview للـ cover -->
  <img
    *ngIf="coverPreviewUrl"
    [src]="coverPreviewUrl"
    class="cover-preview"
  />

  <!-- input مخفي للـ cover -->
  <input
    #coverInput
    type="file"
    accept="image/*"
    class="d-none"
    (change)="onCoverSelected($event)"
  />
</div>


    <h6 class="mt-2 pt-3">Title :</h6>
    <input type="text" placeholder="write a title" class="w-100" formControlName="title" />

    <h6 class="mt-2 pt-3">Number Of Post :</h6>
    <input type="number" placeholder="write number of  post" class="w-100" formControlName="Number" />
    <h6 class="mt-2 pt-3">Caption :</h6>
    <textarea cols="15" rows="2" placeholder="write a caption" class="w-100" formControlName="captionEng"></textarea>

    <h6 class="text-end pt-3">: وصف</h6>
    <textarea cols="15" rows="2" class="w-100 textarea-start" placeholder="اكتب وصف"
      formControlName="captionAra"></textarea>

    <button
     class="border-0 rounded text-white small px-4 mt-3 end-but w-100 py-2" 
     style="background-color: #0b6b6e"
      [disabled]="isLoading()"
      [style.cursor]="isLoading() ? 'not-allowed' : 'pointer'"
      (click)="addPost()">
      <p class="mt-1 mb-0">      {{ isLoading() ? 'Adding...' : 'ADD POST' }}</p>
    </button>
  </form>

  <div class="col-5 ps-4 position-relative">
    <div class="upload-card" (click)="triggerFileInput()">
      <div class="upload-content" *ngIf="!previewUrl">
        <i class="fa-solid fa-folder-open icon"></i>
        <p>upload Media</p>
      </div>

      <img *ngIf="isImage && previewUrl" [src]="previewUrl" class="preview-img rounded" />

      <!-- لو الفيديو -->
      <video *ngIf="isVideo && previewUrl" [src]="previewUrl" controls class="preview-video rounded"></video>

      <!-- input مخفي -->
      <input #fileInput type="file" accept="image/*,video/*" class="d-none" (change)="onFileSelected($event)" />
    </div>
  </div>
</div>