<div class="feed-back-sec px-3" [formGroup]="form">
  <h1 class="mt-5 text-white text-end big">FEEDBACK</h1>


  <!-- Question 01 -->
  <div class="first-feedback p-3 rounded text-white border-0">
    <div class="row">
      <div class="col-lg-1 me-5">
        <img src="assets/img/01.png" alt="Question Icon">
      </div>

      <div class="col mt-lg-0 mt-4 ms-xl-2 ms-lg-5">
        <p class="small mb-0">Question 01</p>
        <h5 class="mb-0">Overall Performance</h5>

        <div class="d-flex align-items-center mt-3">
          <div class="stars">
            <button
              *ngFor="let star of [1,2,3,4,5]"
              type="button"
              class="star-btn"
              [class.active]="form.value.overallPerformance >= star"
              (click)="setRating('overallPerformance', star)"
            >
              <i class="fa fa-star"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Question 02 -->
  <div class="second-feedback p-3 rounded text-white mt-3">
    <div class="row">
      <div class="col-lg-1 me-5">
        <img src="assets/img/02.png" alt="">
      </div>

      <div class="col ms-xl-2 ms-lg-5 mt-lg-0 mt-4">
        <p class="small mb-0">Question 02</p>
        <h5 class="mb-0 fs-6">Attention To Details</h5>

        <div class="stars mt-3">
          <button
            *ngFor="let star of [1,2,3,4,5]"
            type="button"
            class="star-btn"
            [class.active]="form.value.attentionToDetails >= star"
            (click)="setRating('attentionToDetails', star)"
          >
            <i class="fa fa-star"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Question 02 -->
  <div class="second-feedback p-3 rounded text-white mt-3">
    <div class="row">
      <div class="col-lg-1 me-5">
        <img src="assets/img/03.png" alt="">
      </div>
      <div class="col ms-xl-2 ms-lg-5 mt-lg-0 mt-4">
        <p class="small mb-0">Question 02</p>
        <h5 class="mb-0 fs-6">Did the final design meet your expectation?</h5>
        <input
          type="text"
          class="mt-4 text-white form-control bg-transparent border-bottom"
          placeholder="Write here ...."
          formControlName="feedback"
        />
      </div>
    </div>
  </div>

  <h2
    class="mt-5 text-end pt-sm-4 logout"
    style="color: #00bec5; cursor: pointer;"
    (click)="submitFeedback()"
  >
    SUBMIT
    <i class="fa-solid fa-arrow-right fs-5" style="color: #00bec5;"></i>
  </h2>
</div>
