<!-- <div class="project-detail-page py-8">
  <div class="px-md-0 mx-3">
    <h1 class="mt-5 text-white text-end big">PROJECT DETAILS</h1>
    <div class="text-white project rounded p-md-5 p-4">
      <div class="py-4 pt-0 mx-0 row project-card">
        <div class="col-xl-8 col-lg-9 text-md-start text-center">
          <div class="row">
            @switch (aboutproject()?.projectType) {
            @case (0) { <h5 class="fw-bold mb-3 ps-0">Simple Prpject</h5>}
            @case (1) { <h5 class="fw-bold mb-3 ps-0">Social Media</h5>
            }
            @case (2) { <h5 class="fw-bold mb-3 ps-0">Media Buying</h5>
            }
            }
            <div class="me-0 pe-0 col-lg-2 ps-0 text-lg-start text-center">
              <img [src]="baseimageUrl + aboutproject()?.clientImage" class="rounded-2 w-100" alt="" width="114"
                height="114" />
            </div>
            <div class="col ps-lg-3 pt-xl-2 px-0">
              <h6 class="mb-0 mt-lg-0 mt-3 text-lg-start text-center">
                {{ aboutproject()?.clientName }}
              </h6>
              <p class="mb-2 low text-lg-start text-center">{{ aboutproject()?.projectTitle }}</p>
              <h6 class="mb-1 text-start">About {{ aboutproject()?.clientName }}</h6>
              <p class="mb-0 low lh-1 mb-2 px-lg-0 mx-lg-0 text-start" style="white-space: pre-line">
                 {{ aboutproject()?.clientAbout }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-3 text-lg-end px-0">
          <p class="small-2 mb-1 ">ASSIGENED TO</p>
          <div class="d-flex flex-lg-row-reverse gap-2">
            @for (employee of aboutproject()?.employees; track employee.id) {
            <div class="">
              <img [src]="baseimageUrl + employee.imageUrl" class="rounded-2" alt="" width="63.15593719482422"
                height="63" />
            </div>
            }
          </div>
        </div>
      </div>
      <h6 class="pt-4">PORJECT DESCRIPTION</h6>
      <p class="low small mb-1 text-start mb-2" style="white-space: pre-line">
        “ {{ aboutproject()?.projectDescription }} “
      </p>
        <h6 class="">ATTACHMENTS</h6>
     <div class="d-flex w-100 flex-wrap gap-2">
  @for (file of aboutproject()?.projectAttachment; track $index) {
    <div class="img-wrapper">
      
      <img
        class="attach-img"
        height="70"
        width="100"
        [src]="baseimageUrl + file"
        alt=""
      />

      <div
        class="Icon"
        (click)="downloadFile(file)"
      >
        <i class="fa-solid fa-download fs-5"></i>
      </div>

    </div>
  }
</div>

             
      <p class="small-2  mt-3">Add Attachment</p>

      <div class="d-flex mt-3 flex-wrap gap-2">
        @for (file of aboutproject()?.attachments; track $index ; let i = $index) {
        @if (isPdf(file.fileUrl)) {
        <a [href]="getFileUrl(file.fileUrl)" target="_blank" [download]="getFileName(file.fileUrl)"
          class="file-card d-flex align-items-center gap-2">
          <img class="attach-img" src="assets/img/new-document 2.svg" alt="" />
          <div class="file-info text-lg-start">
            <div class="file-name">File PDf {{ i }}</div>
            <div class="file-size">1MB</div>
          </div>
        </a>

        }
        }
      </div>
      <div class="drag-area text-center rounded p-4">
        <div class="dataShow d-flex align-items-center gap-2">
          @for (file of files; track  $index) {
          <div class="file-card d-flex align-items-center gap-2">
            <img class="attach-img" src="assets/img/new-document 2.svg" alt="" />
            <div class="file-info text-lg-start">
              <div class="file-name">{{ file.name | shorten }}</div>
              <div class="file-size">{{ file.size }}</div>
            </div>
          </div>
          }

          <div class="iconDataAdd" (click)="onUploadClick()">
            <img src="assets/img/new-document 2.png" alt="" />
          </div>
        </div>
  <button (click)="uploadFiles()" id="uploadButton"
     [disabled]="isLoading()"
        [style.cursor]="isLoading() ? 'not-allowed' : 'pointer'"
        
        class="border-0 rounded w-100 text-white small py-2 mt-4"
          style="background-color: #0b6b6e">
      <span class="mt-1">                 {{ isLoading() ? 'UPLOADING...' : 'UPLOAD' }}</span>
        </button>


        <input type="file" id="fileInput" hidden #fileInput (change)="onFileSelected($event)" multiple />
      </div>

      <div class="row mx-0 mt-2">
        <div class="col-6 text-start  pt-md-3 pt-4 ps-0">
<button
  class="border-0 rounded-3 text-white small px-md-4 px-3 pt-1 mt-4 end-but"
  style="background-color: #0b6b6e"
>

  @switch (aboutproject()?.projectStatus) {
    @case (0) { <p class="mt-0 mb-0">In Progress</p> }
    @case (1) { <p class="mt-0 mb-0">Paused</p> }
    @case (2) { <p class="mt-0 mb-0">Completed</p> }
  }
</button>

        </div>
        <div class="col-6 text-end pt-md-3 pt-4 pe-0">
          <p class="mb-0 small">{{aboutproject()?.deadLine | date }}</p>
          <p class="small mb-0">{{aboutproject()?.clientName}}</p>
          <div class="stars mt-2 justify-content-end">
            @for (s of [1, 2, 3, 4, 5]; track $index) {
            <button class="star-btn" [class.active]="s <= (aboutproject()?.projectFeedBack ?? 0)">
              <i class="fa fa-star"></i>
            </button>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->


        <!-- start-second -->
        <div class="second pt-5">
            <div class=" text-white p-5 mt-5" style="background-color: #171818; border-radius: 13px;">
                <div class="row">
                    <div class="col-5">
                        <div class="blue text-center p-2 rounded-3" style="background-color: #0B6B6E; margin-left: -70px;">
                            <h2 class="mb-0">{{ aboutproject()?.projectTitle }}</h2>
                        </div>
                    </div>
                    <div class="col-7 ">
                            <div class="d-flex justify-content-end align-items-center w-100">
                                <h1>  {{ aboutproject()?.deadLine| date:'dd MMM' | uppercase }}</h1>
                                <h4 class=" ms-2" style="white-space: pre-line;">DUE <br>
                                    <span>DATE</span>
                                </h4>
                            </div>
                    </div>
                    <div class="text mt-5 mb-5">
                        <h6>Project Description</h6>
                        <p class="text-white-50">
                                    “ {{ aboutproject()?.projectDescription }} “

                        </p>
                    
                    </div>
                <!-- drag -->
      <div class="drag-area text-center rounded p-4">
        <div class="dataShow d-flex align-items-center gap-2">
          @for (file of files; track  $index) {
          <div class="file-card d-flex align-items-center gap-2">
            <img class="attach-img" src="assets/img/new-document 2.svg" alt="" />
            <div class="file-info text-lg-start">
              <div class="file-name">{{ file.name | shorten }}</div>
              <div class="file-size">{{ file.size }}</div>
            </div>
          </div>
          }

          <div class="iconDataAdd" (click)="onUploadClick()">
            <img src="assets/img/new-document 2.png" alt="" />
          </div>
        </div>
  <button (click)="uploadFiles()" id="uploadButton"
     [disabled]="isLoading()"
        [style.cursor]="isLoading() ? 'not-allowed' : 'pointer'"
        
        class="border-0 rounded w-100 text-white small py-2 mt-4"
          style="background-color: #0b6b6e">
      <span class="mt-1">                 {{ isLoading() ? 'UPLOADING...' : 'UPLOAD' }}</span>
        </button>


        <input type="file" id="fileInput" hidden #fileInput (change)="onFileSelected($event)" multiple />
      </div>
  
                </div>
            </div>
        </div>
        <!-- end-second -->
@if(aboutproject()?.projectType == 1){
<app-posts />

}
@if(aboutproject()?.projectType == 2){
<app-media-buying />
}
<app-chat/>

<app-todolist/>
<app-feedback />
