.services {
  display: flex;
  gap: 12px;
  flex-wrap: wrap; /* لو العدد كبير ينزل سطر جديد */
}
@media  (max-width: 900px) {
    .resCoulum{
        flex-direction: column !important;
        flex-wrap: wrap;
        gap: 20px;
    }
    .ms-3{
        margin-inline-start: 0px !important;
    }
}
@media (max-width: 576px) {
       .client-profile .term
           {
            margin-right: 0 !important;
           }
   .client-profile .right-box{
    max-height: none !important;
   }
}
.booked {
    color: #14d7e7 !important;
}