<div class="CreateAccount px-3">
  <h1 class="mt-5 text-white text-end big">Edit Service</h1>

  <form [formGroup]="serviceForm" (ngSubmit)="onSubmit()" class="CreateAccount-box rounded text-white">
    <div class="row">
      <p class="fw-bold">Edit Service Information</p>

      <input
        class="mt-3 px-0"
        type="text"
        formControlName="name"
        placeholder="Service Name"
      />
    </div>

   
   
  </form>

   <div class="w-100  d-flex    justify-content-end align-items-center">
    <button
    class="mt-3 btn border-0 text-end logout px-3"
    style="color: #00bec5; cursor: pointer;"
    (click)="onSubmit()"
      [disabled]="isLoading()"
  [style.cursor]="isLoading() ? 'not-allowed' : 'pointer'"
  >
         {{ isLoading() ? 'Updating...' : 'Update Service' }}

    <i class=" fa-solid fa-arrow-right fs-4" style="color: #00bec5;"></i>
    </button>
  </div>
</div>
