<div class="project-detail-page">
    <div class="px-md-0 px-3">
    <h1 class="big text-end text-white mt-5 pt-5 mb-3">FEEDBACKS</h1>
    <div class="container-feed p-lg-5 p-3  text-white rounded-3">
        <div class="row feedback-box pe-2 ps-2">
            <div class="p-md-2  py-md-3 mx-0 mb-2 p-2 mt-md-2 row rounded-3 feedback-card">
                <div class="col-md-8 col-9">
                    <div class="row ">
                        <div class="me-xxl-0 me-lg-3 px-0 col-lg-2">
                            <img src="assets/img/half-logo.svg" alt="">
                        </div>
                        <div class="col px-0 text">
                            <h6 class="mt-0 mb-md-1 mb-0 mt-md-0 mt-2">ARBUN APP - BRAND IDENTITY</h6>
                            <p class="mb-0 low lh-2 mb-md-2" style="white-space: pre-line;">“The design was great maybe
                                the quality of the presentation could be much
                                better, thank you so much”</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-3 text-end px-0 mt">
                    <p class="small-2 mb-0">14, OCT 24</p>
                    <p class="mb-md-1 mb-0 small">Brand Identity</p>
                    <img class="img-low" src="assets/img/4blue-star.png" alt="">
                </div>
            </div>
            <div class="p-md-2  py-md-3 mx-0 mb-2 p-2 mt-md-2 row rounded-3 feedback-card">
                <div class="col-md-8 col-9">
                    <div class="row ">
                        <div class="me-xxl-0 me-lg-3 px-0 col-lg-2">
                            <img src="assets/img/half-logo.svg" alt="">
                        </div>
                        <div class="col px-0 text">
                            <h6 class="mt-0 mb-md-1 mb-0 mt-md-0 mt-2">ARBUN APP - BRAND IDENTITY</h6>
                            <p class="mb-0 low lh-2 mb-md-2" style="white-space: pre-line;">“The design was great maybe
                                the quality of the presentation could be much
                                better, thank you so much”</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-3 text-end px-0 mt">
                    <p class="small-2 mb-0">14, OCT 24</p>
                    <p class="mb-md-1 mb-0 small">Brand Identity</p>
                    <img class="img-low" src="assets/img/4blue-star.png" alt="">
                </div>
            </div>
            <div class="p-md-2  py-md-3 mx-0 mb-2 p-2 mt-md-2 row rounded-3 feedback-card">
                <div class="col-md-8 col-9">
                    <div class="row ">
                        <div class="me-xxl-0 me-lg-3 px-0 col-lg-2">
                            <img src="assets/img/half-logo.svg" alt="">
                        </div>
                        <div class="col px-0 text">
                            <h6 class="mt-0 mb-md-1 mb-0 mt-md-0 mt-2">ARBUN APP - BRAND IDENTITY</h6>
                            <p class="mb-0 low lh-2 mb-md-2" style="white-space: pre-line;">“The design was great maybe
                                the quality of the presentation could be much
                                better, thank you so much”</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-3 text-end px-0 mt">
                    <p class="small-2 mb-0">14, OCT 24</p>
                    <p class="mb-md-1 mb-0 small">Brand Identity</p>
                    <img class="img-low" src="assets/img/4blue-star.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
</div>