.dataShow {
        overflow: scroll;
    width: 90%;
    scrollbar-width: none;
}
.iconDataAdd{
  padding: 10px 10px;
    border: 2px dashed #3a3a3a;
  border-radius: 8px;

}
.file-card {
  display: flex;
  align-items: center;
  background: #2b2b2b;
  color: #fff;
  border-radius: 8px;
  padding: 10px 15px;
  width: 200px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: #3a3a3a;
  }

  .file-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .file-info {
    display: flex;
    flex-direction: column;

    .file-name {
      font-weight: 600;
      font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

    .file-size {
      font-size: 12px;
      opacity: 0.7;
    }
  }
}



.active p {
    color: var(--blue);
    border-bottom: 1px solid var(--blue);
    transform: scale(1.05);
  }