<div class="fourth pt-5 px-2">
  <div class="text-white p-5 mt-5" style="background-color: #171818; border-radius: 13px">
    <div class="row">
      <!-- Left: Media Buying & Campaign Type -->
      <div class="col-md-4 btnsactive">
        <div class="blue text-center p-2 rounded mb-4" style="background-color: #0b6b6e">
          <h2 class="mb-0">Media Buying</h2>
        </div>
        <h6 class="mt-4">Campaign Type</h6>
        <button class="w-100 rounded py-2 text-white mb-2 campaign-btn" [class.active]="campaignType() === 0"
          (click)="selectCampaign('Engagement')">
          Engagement
        </button>

        <button class="w-100 rounded py-2 text-white mb-2 campaign-btn" [class.active]="campaignType() === 1"
          (click)="selectCampaign('Awareness')">
          Awareness
        </button>

        <button class="w-100 rounded py-2 text-white mb-2 campaign-btn" [class.active]="campaignType() === 2"
          (click)="selectCampaign('Sales')">
          Sales
        </button>
      </div>

      <!-- Right: Date Range Picker -->
      <div class="col-md-8 d-flex justify-content-center align-items-center px-0">
        <div class="date-picker-box d-flex w-100" style="background: #232323; border-radius: 12px; padding: 32px 24px">
          <!-- Quick Filters -->

          <!-- Date Range Picker UI -->
          <div class="w-100">
            <div class="d-flex mb-3 gap-2 w-100">
              <input type="text" class="form-control form-control-sm date-input"
                [value]="dateFrom() | date : 'MMMM d, y'" readonly />
            </div>

            <div class="d-flex gap-4">
              <!-- Calendar 1 -->
              <div class="w-100">
                <div class="d-flex justify-content-between mb-2">
                  <button class="btn btn-sm btn-secondary" (click)="prevMonth()">
                    &#8592;
                  </button>
                  <div class="calendar-header text-white-50" style="font-size: 13px">
                    {{ leftMonth() | date : 'MMMM yyyy' }}
                  </div>
                  <button class="btn btn-sm btn-secondary" (click)="nextMonth()">
                    &#8594;
                  </button>
                </div>
                <table class="calendar-table mb-2">
                  <tr>
                    <th>S</th>
                    <th>M</th>
                    <th>T</th>
                    <th>W</th>
                    <th>T</th>
                    <th>F</th>
                    <th>S</th>
                  </tr>
                  <tr *ngFor="let week of generateMonth(leftMonth()) | slice : 0 : 6; let i = index">
                    <td *ngFor="let day of week" [class.text-muted]="!day.current" (click)="onSelect(day.date)">
                      <p [class.selected]="isSelected(day.date)"> {{ day.date.getDate() }}</p>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex mb-2 justify-content-between align-items-center">
        <h6 class="px-0">Campaign Stats</h6>
      </div>
      <div class="p-3 rounded" style="background: linear-gradient(to right, #001a1a, #005e5e)">
        <div class="statesCards">
          @for (stat of mediaBuyingStats(); track stat.id) {
              <div class="stat-card " >
            <p class="my-2">{{ stat.name }}</p>
                  <input
              type="number"
              class="field-input"
  
              placeholder="Value"
            />
          </div>
          }
          @empty {
          @for (stat of [0,1,2,3,4,5]; track $index) {
          <div class="stat-card text-center">
            <p class="mb-2">Title</p>
            <h2 class="mb-0">{{ 00 | shortNumber }}</h2>
          </div>
          }
          }
        
        </div>
      </div>


      <div class="ddd mt-4 d-flex w-100">
        <button class="btn btn-sm px-4 w-100 py-3 " 
         style="background: #00bec5; color: #fff" 
         (click)="applyRange()"
          [disabled]="isLoading()"
  [style.cursor]="isLoading() ? 'not-allowed' : 'pointer'"
         >
          {{ isLoading() ? 'Adding...' : 'Add Media Buying' }}
        </button>
      </div>
    </div>
  </div>
</div>