<div class="project-detail-page px-3">
    <div class="project-chat px-md-0 px-3">
        <h1 class="big text-end text-white mt-5 pt-5 mb-3">SUBMISSIONS</h1>

        <div class="project-chat-box rounded p-md-4 text-white ">
            <div class="chat-container">

                <div class="chat-box">
                    @if ([4,5,5,5,5].length === 0) {
                    <div class="no-chat-message">No Chat Yet</div>
                    } @else {

                    @for (message of [4,5,5,5,5]; let i = $index; track message) {

                    @if (i === 0 ) {
                    <div class="date-separator">Today</div>
                    }

                    <div class="message p-0">


                        <div class="message-content-wrapper">

                            <div class="d-flex flex-column-reverse gap-1 w-100 message-content">


                                <div class="dataShow d-flex align-items-center gap-2">
                                    @for (file of testFiles(); track $index;let i = $index) {
                                    <a class="file-card d-flex align-items-end justify-content-between gap-2"
                                        [ngClass]="file.status" >
                                        <div class="d-flex gap-2">
                                            <img class="attach-img" src="assets/img/new-document 2.svg" />
                                            <div class="file-info">
                                                <div class="file-name">File {{ i + 1 }}</div>
                                                <div class="file-size">4 MB</div>
                                            </div>
                                        </div>

                                        <div class="Icon">
                                            <i class="fa-solid fa-download fs-5"></i>
                                        </div>
                                    </a>
                                    }


                                </div>
                            </div>
                        </div>

                     
                <div class="timestamp-container mt-2">
                    <span class="timestamp">10:00 AM</span>
                </div>
                    </div>


                    <div class="addComment my-3  ps-2  ">
                            <p class="m-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit sed asperiores ducimus assumenda, placeat modi nisi ex unde id laboriosam. Tenetur blanditiis consectetur sed fuga asperiores ea culpa voluptatum rerum.</p>

                         <div class="quality my-3 d-flex  align-items-baseline justify-content-end gap-3">
                              <div class="d-flex align-items-center mt-3">
          <div class="stars">
            <button
              *ngFor="let star of [1,2,3,4,5]"
              class="star-btn m-0"
              type="button"
              [class.active]="star <= 3"
            >
              <i class="fa fa-star"></i>
            </button>
          </div>
     
        </div>
                         </div>

                    </div>


                     <div class="my-4">
                                            <hr>

                     </div>
                    }
                    }
                </div>


            </div>


        </div>



    </div>

</div>
<!-- End project chat -->