<!-- Start project chat -->
<div class="project-detail-page">
    <div class="project-chat px-md-0 px-3">
        <h1 class="big text-end text-white mt-5 pt-5 mb-3">PROJECT CHAT</h1>

        <div class="project-chat-box rounded-3 p-md-5 p-4 text-white">
            <div class="chat-container">
                <div class="chat-box">
            <!-- <pre>{{ messages() | json }}</pre> -->
            
                    @if (messages().length === 0) {
                    <div class="no-chat-message">
                        No Chat Yet
                    </div>
                    } @else {
                    @for (message of messages(); let i = $index; track message) {
                    <!-- Date Separator -->
                    @if (i === 0 || messages()[i-1].date !== message.date) {
                    <div class="date-separator">
                        {{ message.date }}
                    </div>
                    }

                    <!-- Message -->
                    <div class="message p-0">
                        <p class="username">{{ message.username }}</p>

                        <div class="message-content-wrapper">
                            <img src="assets/img/chat.png" alt="user" class="user-img" />

                            <div class="d-flex flex-column-reverse gap-1 w-100 message-content">
                                <p class="message-content fst-italic">{{ message.text }}</p>

                                @if (message.files?.length) {
                                <div class="dataShow d-flex align-items-center gap-2">
                                    @for (file of message.files; track file.name) {
                                    <div class="file-card d-flex align-items-center gap-2">
                                        <img class="attach-img" src="assets/img/new-document 2.svg" alt="">
                                        <div class="file-info text-lg-start">
                                            <div class="file-name">{{ file.name }}</div>
                                            <div class="file-size">{{ file.type }}</div>
                                        </div>
                                    </div>
                                    }
                                </div>
                                }
                            </div>
                        </div>

                        <div class="timestamp-container mt-2">
                            <span class="timestamp">{{ message.time }}</span>
                        </div>
                    </div>
                    }
                    }


                </div>
            </div>
        </div>
    </div>

    <!-- Input -->
 <div class="message-input">
    
    <input
      type="file"
      multiple
      (change)="onFileSelected($event)"
      hidden
      #fileInput
    />



    <input
      type="text"
      class="border-0 small text-white"
      placeholder="Write anything here..."
      [(ngModel)]="messageText"
      (keydown)="handleKeyDown($event)"
    />
    <button type="button" (click)="fileInput.click()">
      <i
        class="fa-solid fa-paperclip fs-5"
        style="color: #00bec5"
      ></i>
    </button>
    <button (click)="sendMessage()">
      <i
        class="fa-solid fa-arrow-right fs-5 mt-1"
        style="color: #00bec5"
      ></i>
    </button>
  </div>
</div>
<!-- End project chat -->