.team-container{
    height: auto !important;
}
.card-img-top{
        object-fit: cover;

}
.booked {
  color: #0b6b6e;
  font-weight: 900 ;
}
.textColor{
  color: #C50003 !important;
}
.seletType{
  background: #0B6B6E33;
 padding: 10px 10px;
  border-radius: 8px;
  cursor: pointer;
}
.active{
background: #0B6B6E;
}
.card {
  position: relative;
  overflow: hidden; // عشان ما يخرجش أي جزء برا الكارت

  .cardOptions {
    position: absolute;
    top: 30%;
    right: -100px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px 0 0 8px;
    display: flex
;
    /* align-items: center; */
    gap: 10px;
    padding: 10px;
    transition: all 0.4s 
ease;
    opacity: 0;

    display: flex;
    width: 36%;

    i {
      cursor: pointer;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: var(--bs-info); 
      }
    }
  }

  &:hover .cardOptions {
    right: 0px;
    opacity: 1;
  }
}
.card-img-top{
        object-fit: cover;

}
.bottomBox h6{
  font-size: 125px;
  line-height: 1.3;
    height: 100px;
}
.team .right-box h5 {
  font-size: 90px !important;
  color: var(--blue);
  height: 65px;
}
.typeClient{
  position: absolute;
  left: 5px;
  top: 5px;
  min-width: 82px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
opacity: 1;

border-radius: 5px;
background: #171818;
h6{
font-weight: 700;
font-size: 10px;
line-height: 100%;
letter-spacing: 0%;
 color: #00BEC5;margin: 0;

}
}
.selectedType {
  background-color: #0B6B6E;
  color: white;
  border-radius: 8px;
}
