.card-img-top{
        object-fit: cover;

}
.team-container{
    height: auto !important;
}
.inner-box {
  flex: 0;
}
p{
  line-height: 100%;
}
.card {
  position: relative;
  overflow: hidden; // عشان ما يخرجش أي جزء برا الكارت

  .cardOptions {
    position: absolute;
    top: 30%;
    right: -100px;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 8px 0 0 8px;
    display: flex
;
    gap: 10px;
    padding: 10px;
    transition: all 0.4s 
ease;
    opacity: 0;

    display: flex;
    width: 36%;

    i {
      cursor: pointer;
      font-size: 18px;
      transition: color 0.3s ease;

      &:hover {
        color: var(--bs-info); 
      }
    }
  }

  &:hover .cardOptions {
    right: 0px;
    opacity: 1;
  }
}

.card-box {
  display: grid !important;
  grid-template-columns: repeat(4, 1fr); /* 👈 4 أعمدة ثابتة */
  gap: 1rem;
  padding: 1rem;
}
@media (max-width: 1300px){
 .card-box{
  grid-template-columns: repeat(3, 1fr); /* 👈 4 أعمدة ثابتة */

  }
  .statisOne , .statisTwo{
    width: 100% !important;
  }
}
@media (max-width: 992px) { /* lg -> md */

  .card-box{
  grid-template-columns: repeat(2, 1fr); /* 👈 4 أعمدة ثابتة */

  }
  .team .right-box .text-end{
    max-height: none;
  }
  .row{
  margin-left:  0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.statisTwo .row{
  padding: 20px !important;
}
.statisTwo .ms-auto{
  padding: 0 !important;
  margin: 0 !important;
}
  .statisTwo , .statisOne{
    padding: 0 !important;
  }
}
@media (max-width: 768px) { /* lg -> md */

.inner-box {
  flex: none !important;
}  

.CompleteProjects{
  justify-content: space-between !important;
}
.team .right-box .inner-box img{
  width: 100% !important;
  height: 100% !important;
}
.statisTwo .leftBox {
  width: 100% !important;
}
.statisTwo .row{
  width: 100% !important;
   justify-content: end !important;
   align-items: flex-start;
   padding-bottom: 0 !important;
   span{
    line-height: 1 !important;
    margin-top: 14px !important;
   }
   
}
}
@media (max-width: 600px) {

  .card-box{
  grid-template-columns: repeat(1, 1fr); /* 👈 4 أعمدة ثابتة */

  }
}

.project-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
  color: white;
  padding: 20px;
  border-radius: 12px;
}
.numOfEmployee{
  font-size: 90px !important;
}
.stat-card {
  flex: 1 1 10px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}

.stat-card p {
  margin: 0;
}

.fs-3 {
  font-size: 1.5rem; 
}

@media (max-width: 576px) {
  .stat-card {
    flex: 1 1 40%;
    margin: 5px 0;
  }
  .card-box .cards{
    padding: 0 !important;
  }
  .mt-3{
    padding: 0 !important;
  }
}
