<div class="mynotes px-md-0 px-3">
  <h1 class="big text-end text-white mt-5 pt-5 mb-3">MY NOTES</h1>

  <div class="todo-container text-white p-md-5 p-3">
    <h4 class=" mb-0 ">My Notes</h4>
    <p class="low">These notes can only be seen by you</p>

    <!-- To-Do List Section -->
    <div class="todo-list">
      <!-- message when empty -->
      <div class="no-notes" *ngIf="todoList.length === 0">No Notes Yet</div>

      <!-- todo items -->
      <div class="todo-item" *ngFor="let item of todoList">
        <div class="todo-content">
          <input
            type="checkbox"
            class="circle-btn"
            (change)="toggleComplete(item, false)"
          />
          <p class="todo-text">{{ item.noteContent }}</p>
        </div>

        <button class="star-btn" [class.active]="item.isFav" (click)="toggleStar(item)">
          <i class="fa fa-star"></i>
        </button>

      </div>
    </div>

    <!-- Completed Section -->
    <h4 class=" com-header mb-2 mt-2">Completed</h4>
    <div class="completed-list">
      <div class="no-notes" *ngIf="completedList.length === 0">No Completed Notes Yet</div>

      <div class="todo-item" *ngFor="let item of completedList">
        <div class="todo-content">
          <input
            type="checkbox"
            class="circle-btn"
            checked
            (change)="toggleComplete(item, true)"
          />
          <p class="todo-text done">{{ item.noteContent }}</p>
        </div>

        <button class="star-btn" [class.active]="item.isFav" (click)="toggleStar(item)">
          <i class="fa fa-star"></i>
        </button>

     
      </div>
    </div>
  </div>
</div>

<!-- add todo input -->
<div class="add-todo px-3 px-md-0">
  <input
    class="border-0 text-white"
    type="text"
    id="new-todo-input"
    placeholder="Write anything..."
    [(ngModel)]="newTodoText"
    (keydown)="handleKeyDown($event)"
  />
  <button id="add-todo-btn" (click)="addTodo()">
    <i class="fa fa-arrow-right"></i>
  </button>
</div>
