
.upload{
      width: 100%;
  height: 100%;
     min-height: 450px;
     max-height: 450px;
     position: relative;
        .preview-img,
  .preview-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}