
.upload{
      width: 100%;
  height: 100%;
     min-height: 450px;
     max-height: 450px;
     position: relative;
        .preview-img,
  .preview-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.btn_bo{
   display: flex;
   justify-content: center;
   position: absolute;
    bottom: 25px;

    padding: 0  20px;


    width: 100%;
    .btn{
              backdrop-filter: blur(4px);
    background: #00000033;

    }

}
.decScroll{
  max-height: 70px;
  padding-inline-end: 10px;
  overflow-y: auto;
  
      &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: #1b1b1b;
        border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background: #dcdcdc;
        border-radius: 10px;
        border: 2px solid #1b1b1b;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: #ffffff;
    }
}