    <div class="d-flex justify-content-end align-items-center headerText">

        <h1 class=" text-white text-end big"> Payments</h1>

    </div>

<div class="payments-container text-white p-4  rounded-3 mb-5 pb-5" style="background-color: #171818;">
    <div class="row">

        <!-- Months -->
        <div class="time-slots ps-4 pe-0 ">
            <h6>Payments</h6>
            <div class="border-right">
                <div *ngFor="let month of displayedMonths; let i = index" class="slot text-center me-5"
                    [class.active]="i === selectedIndex" (click)="selectMonth(i)">
                    1st, {{ month.label }}
                </div>
            </div>
        </div>

        <!-- Payment info -->
        <div class="payments col mt-4 pt-1 ">
            <h6 style="font-size: 12px;">Next Payment</h6>

            @for (payment of payments(); track payment.id) {
            <button class="py-2 mb-3 text-white text-start ps-3 w-100 d-flex align-items-end justify-content-between rounded-3" style="background: linear-gradient(90deg, #2D2D2D00 0%, #00BEC540 65%);
               font-size: 16px; border: 0.1px solid rgba(255, 255, 255, 0.425);">
               <div class="info">
                <p  class="m-0">Amount: {{ payment.amount  |  currency:'USD' }}</p>
                 <p class="m-0">Project Name :{{payment.projectName}}</p>
               </div>
                <label class="show-checkbox">
                <input type="checkbox"         [checked]="payment.isPaid"
        (change)="togglePaymentStatus(payment)" />
              </label>
            </button>
            }
            @empty {
                          <button class="py-2 text-white text-center ps-3 w-100 d-flex align-items-center justify-content-center rounded-3" style="background: linear-gradient(90deg, #2D2D2D00 0%, #00BEC540 65%);
               font-size: 16px; border: 0.1px solid rgba(255, 255, 255, 0.425);">
          <p class="m-0 text-center">No payments found for this month</p>

            </button>
            }
        </div>
    </div>
</div>