.meeting-container {
    display: flex;
    background: #171818;
    border-radius: 10px;
    padding: 20px;
    margin: 40px auto;
    gap: 20px;
}

/* Time slots */
.booked {
  color: #0b6b6e;
  font-weight: 900 !important ;
  margin: 0 5px ;
  
}
.isLate{
    background: linear-gradient(90deg, rgba(45, 45, 45, 0) 0%, rgba(214, 13, 13, 0.192) 66.35%);

}
.line{
    width: 3px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.2509803922);
    right: 54%;
    margin-top: 35px;
 
}
.border-right {
    height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;

    //   &::-webkit-scrollbar {
    //     width: 6px;
    // }

    // &::-webkit-scrollbar-track {
    //     background: #1b1b1b;
    //     border-radius: 10px;
    // }

    // &::-webkit-scrollbar-thumb {
    //     background: #dcdcdc;
    //     border-radius: 10px;
    //     border: 2px solid #1b1b1b;
    // }

    // &::-webkit-scrollbar-thumb:hover {
    //     background: #ffffff;
    // }
}

.time-slots h6 {
    font-size: 12px;
    margin-bottom: 20px;
}
.notifiction-card-none{
  background: #2D2D2D;

}
.slot {
    background: #2d2d2d;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s;
}

.slot.active {
    background: #123535;
    border: 1px solid #ffffff7c;
}

/* Calendar */
.calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.calendar-header h4 {
    margin: 0;
    font-weight: normal;
}

.calendar-header button {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.day-names,
.days-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.day-names div {
    font-weight: bold;
    padding: 5px 0;
}

.days-grid div {
    padding: 10px 0;
    cursor: pointer;
    position: relative;
    border-radius: 4px;
}

.days-grid div:hover::after,
.days-grid div.active::after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 25%;
    width: 50%;
    height: 2px;
    background: #00bec5;
}

.book-btn {
    margin-top: 15px;
    background: #00bec5;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.payments {
    overflow-y: scroll;
    height: 385px;
    scrollbar-width: none;
}

.show-checkbox {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.85rem;
    cursor: pointer;
    user-select: none;

    input[type='checkbox'] {
        appearance: none;
        width: 22px;
        height: 22px;
        border: 2px solid #ccc;
        border-radius: 4px;
        position: relative;
        cursor: pointer;
        transition: all 0.2s ease;

        &:checked {
            background-color: var(--blue);
            /* green when checked */
            border-color: var(--blue);

            &::after {
                content: '';
                position: absolute;
                top: 0px;
                left: 6px;
                width: 7px;
                height: 14px;
                border: solid white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }

        &:hover {
            border-color: var(--blue);
            /* blue on hover */
        }
    }

    span {
        color: var(--muted);
    }
}

@media (max-width: 1200px) {
    .row {
        flex-direction: column !important;
    }
}

@media (max-width: 500px) {
    .payments button {
        flex-direction: column !important;
    }
}