
.iconDataAdd{
  padding: 10px 10px;
    border: 2px dashed #3a3a3a;
  border-radius: 8px;

}
.file-card {
  display: flex;
  align-items: center;
  background: #2b2b2b;
  color: #fff;
  border-radius: 8px;
  padding: 10px 15px;
  min-width: 200px;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: #3a3a3a;
  }

  .file-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  .file-info {
    display: flex;
    flex-direction: column;

    .file-name {
      font-weight: 600;
      font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

    .file-size {
      font-size: 12px;
      opacity: 0.7;
    }
  }
}
 a{
  text-decoration: none;
 }
img{
  object-fit: cover;
}

.img-wrapper {
  position: relative;
  cursor: pointer;
}
.img-wrapper {
  position: relative;
  width: 70px;
  height: 70px;

}

.pdf-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #f5f5f5;
  border-radius: 6px;
}

.Icon {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.Icon {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 5px;
}

.img-wrapper:hover .Icon {
  opacity: 1;
}

.attach-img {
  border-radius: 6px;
  object-fit: cover;
}
@media (max-width: 900px) {
.ImageUser img{
  height: 300px !important;
  width: 100% !important;

}
}