.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 60%;
}

@media (max-width:700px) {
  .services-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }
}