.imageCover{
    width: 90%;
    height: 240px;
    object-fit: cover !important;
    border-radius: 8px;
}

@media (max-width: 576px) {

   .profile .right-box .text-end{
    max-height: none !important;
   }
   .ms-auto{
    margin-left: 10px !important;
    margin-top: 10px;
   }
}