.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  max-height: 160px;
  overflow-y: auto;
  overflow-x: hidden;

  /* Scrollbar styling */
  &::-webkit-scrollbar {
    width: 5px;
    height: 25px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #6d6d6d;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffffff10;
  }

  @media (max-width: 1200px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 992px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 576px) {
    grid-template-columns: 1fr;
    max-height: none; 
  }
}
