<div class="px-3">
    <div class=" mt-5 pt-5 ">
    <h1 class="text-end text-white mb-0">TIME MEETING</h1>
</div>
@for(meet of meetings(); track $index) {
<div class=" meeting-container my-3 text-white p-4 rounded" style="background-color: #2d2d2d; color: white;">
    <div class="meeting-info">
        <h5 class="mb-0">
            <span class="booked">{{ meet.clientName }}</span> booked a meeting
            <span class="booked"> {{ formatDate(meet.date) }} ( {{ slots[meet.time] }} )</span>
        </h5>
    </div>
</div>

}
@empty {
<div class=" meeting-container my-3 text-center p-4 rounded" style="background-color: #2d2d2d; color: white;">
    <div class="meeting-info">
        <h5 class="mb-0 booked">
            No meetings booked yet.
        </h5>
    </div>
</div>

}
</div>