<div class=" mt-5 pt-5">
    <h1 class="text-end text-white mb-0">Add A Payments</h1>
</div>
<div class="row meeting-container text-white p-4 mt-4 rounded-3">
    <div class="div col me-lg-5 px-0">
        <p class="mb-1 mt-4">Choose projects</p>
        <div class="leftlow p-2">
            <div class="row p-2" *ngFor="let client of projects()">
                <div class="col-1">
                    <img [src]="baseimageUrl + client.clientImage" alt="" class="rounded-2" width="30" height="30" />
                </div>
                <div class="col d-flex text pt-1 px-0 mx-4">
                    <p class="mb-0">{{ client.projectTitle }}</p>
                    <div class="ms-auto">

                        <button type="button" class="rounded-1" [class.clicked]="selectedProjectId() === client.id"
                            (click)="selectProject(client.id)"></button>

                    </div>
                </div>
            </div>

            <div class="text-center text-muted" *ngIf="projects().length === 0">
                No projects available.
            </div>
        </div>
    </div>

</div>
<div class="meeting-container"> <!-- Question 02 -->
    <div class="second-feedback w-100 rounded-3 text-white mt-3">
        <div class="row w-100">
   
            <div class="col ms-xl-2 ms-lg-5 mt-lg-0 mt-4">
                   <h5 class="mb-0 fs-6">Payment Amount</h5>
      <input
        type="number"
        min="1"
        class="mt-4 text-white"
        placeholder="Enter amount..."
        [(ngModel)]="amount"
          (input)="amount.set($any($event.target).value)">
            </div>
        </div>
    </div>
</div>
<div class=" meeting-container text-white p-4 mt-4 rounded-3">

    <!-- Calendar -->
    <div class="calendar px-5 mt-5 pt-1">
        <div class="calendar-header px-3">
            <button (click)="prevMonth()"><i class="fa-solid fa-arrow-left" style="color: #ffffff;"></i></button>
            <h4>{{ monthYear }}</h4>
            <button (click)="nextMonth()"><i class="fa-solid fa-arrow-right" style="color: #ffffff;"></i></button>
        </div>

        <div class="calendar-body">
            <div class="day-names">
                <div>Su</div>
                <div>Mo</div>
                <div>Tu</div>
                <div>We</div>
                <div>Th</div>
                <div>Fr</div>
                <div>Sa</div>
            </div>
            <div class="days-grid">
                <div *ngFor="let day of daysInMonth()" [class.active]="isSelected(day)" (click)="selectDate(day)">
                    {{ day }}
                </div>
            </div>
        </div>

        <button class="book-btn" (click)="addPayment()">BOOK</button>
    </div>
</div>